.container {
	width: 80%;
	margin: 10px auto;
	padding-top: 15px;
}
h3 {
	font-family: 'Open Sans', sans-serif;
}
.posts-list {
	list-style: none;
	padding: 5px;
}
.posts-list li .badge {
	color: black;
}
.posts-list li a {
	outline: none;
	color: #6eafc5;
	text-decoration: none;
	padding-right: 1em;
}